@import "common.less";
@confirmClass: rc-confirm;

@radius: 16/@ppr;

.@{confirmClass} {
	text-align: center;
	background: #fff;
	z-index: 99999;
	position: fixed;
	left: 50%;
	top: 40%;
	-webkit-transform: translate3d(-50%,-40%,0);
	transform: translate3d(-50%,-40%,0);
	width: 271/@ppr;
	border-radius: @radius;

}

.@{confirmClass}-title {
	font-size: 17/@ppr;
	color: #222a30;
	padding-top: 22/@ppr;
	padding-bottom: 10/@ppr;
}

.@{confirmClass}-content {
	padding-bottom: 23/@ppr;
	font-size: 14/@ppr;
	color: #000204;
	word-break: break-all;
	padding-left: 12/@ppr;
	padding-right: 12/@ppr;
}

.@{confirmClass}-btns {
	color: #216eb7;
	.flexbox();
	border-top: 1px solid #ccc;
	a {
		.flex(1);
		height: 45/@ppr;
		line-height: 45/@ppr;
		font-size: 17/@ppr;
		&:hover {
			background: #ececec;
			text-decoration: none;
		}
		&:first-child {
			border-right: 1px solid #ccc;
			border-bottom-left-radius: @radius;
		}
		&:last-child {
			border-bottom-right-radius: @radius;
		}
	}
}